/*Osnovno*/
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 80px;
  }
  html {
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover,
  a:active {
    color: white;
  }

  /* Deo za navBar  */

  #mainNav {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 80px;
    right: 0;
    left: 0;
  }
  
  .meni-lista {
    height: 80px;
    display: grid;
    grid-template-columns: 150px 150px 250px 150px;
    list-style-type: none;
    background-color: rgb(59, 207, 212);
    padding-right: 0;
    font-size: x-large;
    justify-content: right;
    align-content: center;
  }
  
  .meni-item {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  @media (max-width: 768px) {
    .meni-lista {
      display: grid;
      grid-template-columns: auto auto auto auto;
      font-size: medium;
    }
   
  }

 /* Index stranica */
    
    #index{
    background-image: url("Slike/Indeks.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;}

    #text .container{
      text-align: center;
      padding-top: 150px;
      padding-bottom: 150px;
      font-size: 220px;
      font-weight: bold;  
      }

    /*Pozadine i naslovi za ostale stranice*/

    #doktori{
        background-image: url("Slike/Doktori.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: lighten; 
    }

    #pacijenti{
        background-image: url("Slike/pacijenti.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: lighten; 
    }
    
    #pregledi{
        background-image: url("Slike/1.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: lighten; 
    }

    #naslovi .container {
      font-size: 400%;
      color: black;
      font-weight: bold;
      padding-top: 20px;
      text-align: center;
      justify-content: center;
    }

  #odabir_akcije_p{
    font-size: 200%;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 30px;
    padding-top: 20px;
    padding-left: 0px ;
    padding-right: 0px ;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #odabir_akcije{
    font-size: 180%;
    color: black;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 20px;
    padding-left: 0px ;
    padding-right: 0px ;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;}
    